.reset-password-section{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, #FFB3D9 0%, #FFD1DC 20%, #FFF0F5 40%, #E6F3FF 60%, #D1E7FF 80%, #C7E9F1 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-title{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.reset-password-form {
  width: 600px;
  background: transparent;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}
.ant-form-item-control-input-content{
  display: flex;
  justify-content: end;
}